.container {
    position: relative;
}
h2{
    text-align: center;
    margin-top: 200px;
}
.disc{
    display: flex;
}
.services {
    display: flex;
   justify-content: center;
    padding: 5px;
}
img{
    height: 100%;
    width: 100%;
}
.cards {
    display: flex;
    padding: 10px;
    background-color: aqua;
    height: 400px;
    border-radius: 10px;
    width: 90%;
}
.leftcard {
    width: 45%;
}
.rightcard {
    width: 55%;
}