#contact{
    background-color: #f8f9fa; 
    padding: 100px;
    margin-left: 50px;
}
@media  screen and (max-width: 700px){
    #contact{
        padding: 20px;
    }
    
}
@media screen and (max-width: 900px){
    #contact{
        padding: 40px;
    }
}
